repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]

      - id: generate-artifacts
        name: generate artifacts
        entry: poetry run python parts.py --no-show --output output
        language: system
        pass_filenames: false
        files: \.py$
